html {
    background-color: lightgray;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    width: auto;
}

.nav-tabs > li > a{
    border:none;
}

.nav-tabs > li.active > a{
    background-color: #337ab7 !important;
    border:none;
    color:white;
}

.nav-tabs > li > a{
    background-color: #DCDCDC !important;
    border:none;
    color:darkgray;
    padding: 10px;
}

.nav-tabs > li > a:active,.nav-tabs > li > a:hover{
    background-color: #337ab7 !important;
    border:none;
    color:white;
}

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: lightgray;
}

.layout{
    background-color: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    width: 1000px;
    border: solid 2px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 50px;
    margin: 50px auto;
    padding: 20px;
}

#page-wrap {
    width: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
}
p#content {
    font-size: 25px;
    color: black;
    margin: 0 0 30px 0;
    width: auto;
    text-indent: 40px;
    text-align: center;
}
p#name{
    font-size: 100px;
    color: black;
    margin: 0 0 10px 0;
    width: auto;
    text-indent: 40px;
    text-align: center;
}

.desc{
    font-size: 30px;
    color: black;
    margin: 0 0 10px 0;
    width: auto;
    text-indent: 40px;
    text-align: center;
}

.gen{
    margin: 0 auto;
    padding: 90px;
}

.para{
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
    width: auto;
    text-align: center;
}

.projectTitle{
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
    padding: 20px;
    width: auto;
    text-align: left;
}

.projectDesc{
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    padding: 20px;
    width: auto;
    text-align: left;
}

.emailLink{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    padding: 10px;
}

.contact {
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
}

#icons{
    margin: 0 auto;
    text-align: center;
}

#icons div{
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
    border: none;
}
