<!DOCTYPE html>
<html ng-app="webPortfolioApp">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->

    <!--<script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>-->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.2.0.js"></script>
    <script src="index.js"></script>


    <title> Supriya Anand </title>
</head>

<body ng-controller="projectsCtrl">
    <!-- Google analytics tracker code -->
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MQSWDX"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MQSWDX');</script>
    <!-- End Google Tag Manager -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
                    <li role="presentation"><a href="#about" role="tab" data-toggle="tab">About</a></li>
                    <li role="presentation"><a href="#projectsTab" role="tab" data-toggle="tab">Projects</a></li>
                    <li role="presentation"><a href="#getInTouch" role="tab" data-toggle="tab">Get In Touch</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active gen" id="home">
                    <div class="layout">
                    <p id="name">Supriya Anand</p>
                    <p class="desc">Computer Science Graduate Student</p>
                    <p class="desc">University of Southern California</p>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="about">
                    <div class="desc gen">
                    <p class="para">I am a graduate student pursuing a Masters in Computer Science from the University of Southern California.
                        My interests lie in leveraging Machine Learning techniques to understand human language.
                        I am also interested in the use of data to understand causal relationships between texts and to mine the data at our disposal to model language structure and extract knowledge.
                    </p>
                    <p class="para">I have a generalist background/experience in many areas including full stack web development, high performance network systems and various streaming technologies.</p>
                    <p class="para">I hold a Bachelors degree in Information Science and Engineering from the B. M. S. College of Engineering, Bangalore. </p>
                    </div>

                    <div class="desc gen">
                        <a href="files/Supriya_Anand.pdf" target="_blank"><button type="button" class="btn btn-default btn-lg">
                          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Download Resume
                        </button></a>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="projectsTab">
                    <div class="gen">
                        <div ng-repeat="project in projects" heading="{{project.title}}">
                            <div class="panel panel-default">
                            <div class="panel-heading"><h3 class="panel-title">{{project.title}}&nbsp;&nbsp;<a ng-show="project.gitHubLinkPresent == true" href="{{project.gitHubLink}}" target="_blank" data-toggle="tooltip" title="View on GitHub"><button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        </button></a>&nbsp;&nbsp;<a ng-show="project.demoLinkPresent == true" href="{{project.demoLink}}" target="_blank" data-toggle="tooltip" title="View live demo"><button type="button" class="btn btn-default btn-sm">
                          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                        </button></a></h3></div>
                            <div class="panel-body">{{project.desc}}</div>
                            <ul class="list-group list-group-horizontal">
                                <li class="list-group-item" ng-repeat="tech in project.stack">{{tech}}</li>
                            </ul>
                        </div>
                    </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="getInTouch">
                    <div class="contact">Write to me at <span class="emailLink">supriya [dot] anandrao [at] gmail [dot] com</span> or <span class="emailLink"> supriyaa [at] usc [dot] edu </span> </div>
                    <div id="icons">
                        <div>
                        <a href="https://www.linkedin.com/in/supriyaanandrao" target="_blank">
                        <img src="images/linkedinIcon.png" width="50" height="30" border="0" alt="View Supriya Anand's profile on LinkedIn">
                        </a>
                        </div>
                        <div>
                        <a href="https://github.com/supriyaanand" target="_blank">
                            <img src="images/githubIcon.ico" width="50" height="30" border="0" alt="View Supriya Anand's profile on GitHub">
                        </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72031829-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>

